.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background: #DDC4B8;
	font-family: 'Indie Flower', cursive;

}

.List {
  flex:1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}

.Item {
  border-radius: 4px;
  margin: 5px;
  background-color: #A7D6C6;
  box-shadow: 3px 3px 2px #888888;
  padding: 5px;
  cursor: pointer;
}

.Item:hover {
  border: 1px solid #939B9B;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

.View {
  flex:3;
  height: 100%;
}

.NewNote {
  background-color: #EFEDDE;
  height: 100%;
}

h1 {
}

.titleItem{
	font-size: 24px;
}

.descItem{
	font-size: 18px;
}
